*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  background-image: url(../img/natural-pattern.png);
  padding: 10%;
}

.header-top{
  position: relative;
  border: 5px solid white;
  background-image: url(../img/natural-header.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  padding: 5px;
}
.container-logo{
  position:absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container-logo img{
  height: 150px;
}
.container-logo h1{
  color: white;
  text-transform: uppercase;
  font-size: 20px;

}
.header-bottom{
  background-color: #504643;
  height: 50px;
  line-height: 50px;
}
.header-bottom nav ul{
  list-style: none;
  text-align: center;
}
.header-bottom li{
  display: inline-block;
}
.header-bottom li a{
  display: inline-block;
  padding: 0 5px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}
.header-bottom nav ul li a:hover{
  color:#C8C6C5;
  background-color: #322a26;
}
main{
  padding: 10px 10px;
  background-color: green;
}
main::after{
  content: "";
  display: table;
  clear: both;
}
.float-left{
  float: left;
}


.col-left{
  background-color: purple;
  width: 30%;
  border: 2px solid black;
  margin-bottom: 5%;
}
.col-center{
  background-color: purple;
  width: 40%;
  border: 2px solid black;
  margin:0 3%;
}
.col-right{
  width: 24%;
}
.col-right .widget{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: purple;
}


footer{
  margin: 10% 0;
  background-color: pink;
  width: 100%;
  height: 30px;
}
